@use "./variables.scss" as *;
@use "./utils.scss" as *;

.fixed-top {
  right: auto;
}

@function hexToRgba($hex, $alpha) {
  $r: red($hex);
  $g: green($hex);
  $b: blue($hex);
  @return rgba($r, $g, $b, $alpha);
}

.offcanvas {
  background-image: linear-gradient(
    180deg,
    var(--bg-color-transparent) 0%,
    var(--nav-bg) 8%,
    var(--nav-bg) 92%,
    var(--bg-color-transparent) 100%
  );

  // background-image: linear-gradient(0deg, red 1%, green, red 99%);
  color: $text-color;
  border-image-slice: 1;
  border-image-source: linear-gradient(0deg, $bg-color 0%, $nav-bg 5%, $nav-bg 95%, $bg-color 100%);
}

.offcanvas.offcanvas-start {
  width: max-content;
  height: 100%;
  border-right: 0.15em solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(0deg, transparent 5%, $text-color, transparent 95%);
}

.offcanvas.offcanvas-bottom {
  border-top: 0.15em solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(100deg, transparent 5%, $text-color, transparent 95%);
}

.btn-name {
  // border: 1px solid $key-color;
  font-size: 0.9em;
  font-weight: bolder;
  padding: 0.25em 1em;
}

.theme-color-name {
  &,
  &:hover,
  &:focus {
    color: $theme-name-color;
  }
}

.offcanvas-header {
  padding: 1em;
}

.offcanvas-body {
  flex-grow: 0;
  padding: 0;
  flex-direction: column;
  height: 100%;
  gap: 1em;
  @include display(center, space-evenly);

  .nav-link {
    color: $nav-color;
    cursor: pointer;
    padding: 1em;
    width: 100%;
    transition:
      color 250ms linear,
      border 250ms linear;
    position: relative;

    &.active,
    &:focus,
    &:hover {
      text-decoration: none;
      color: $link-color;

      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      inset: 0;
      opacity: 0;
      border-radius: 5px;
      box-shadow: 0px 1px 0px $link-color;
      transition: opacity 0.3s ease-in-out;
    }

    &#contact-nav {
      background-color: $nav-color;
      color: $bg-color;
      transition:
        background-color 0.25s linear,
        color 0.25s linear;
      &:is(:hover, .active) {
        background-color: $link-color;
        color: $bg-color !important;
      }
    }
  }
}

.nav-text {
  transform: scale(0.7);
  margin-top: 0.3em;
  line-height: 0.3;
}
::view-transition-old(root) {
  animation-delay: 500ms;
}

::view-transition-new(root) {
  animation: circle-in 500ms;
}

@keyframes move-in {
  from {
    translate: 100% 0%;
  }
  to {
    translate: 0 0;
  }
}

@keyframes circle-in {
  from {
    clip-path: circle(0% at 50% 0%);
  }
  to {
    clip-path: circle(120% at 50% 0%);
  }
}
