@use "./variables.scss" as *;
@use "./utils.scss" as *;

.btn-primary,
.btn-primary:focus,
.btn-primary:hover {
  background-color: transparent;
  border-color: $key-color;
  box-shadow: none;
}
.dark-btn {
  background-color: $button-color;
  border-color: $button-color;
  color: $primary-color;
  box-shadow: none;
  &:focus,
  &:hover {
    background-color: transparent;
    color: $text-color;
    border-color: $text-color;
    box-shadow: none;
  }
}
.outline-dark-btn {
  background-color: transparent;
  color: $text-color;
  border-color: $text-color;
  box-shadow: none;
  &:focus,
  &:hover {
    background-color: $button-color;
    border-color: $button-color;
    color: $primary-color;
    box-shadow: none;
  }
}
.fixed-top {
  right: auto;
}
.offcanvas {
  background-color: $nav-bg;
  color: $text-color;
  border-color: $nav-bg;
}
.offcanvas.offcanvas-start {
  width: max-content;
  height: 100%;
}
.btn-name {
  border: 1px solid $key-color;
  font-size: 0.9em;
  padding: 0 0.05em;
}
.theme-color-name {
  &,
  &:hover,
  &:focus {
    color: $theme-name-color;
  }
}
.offcanvas-header {
  padding: 1em 0;
}
.offcanvas-body {
  flex-grow: 0;
  padding: 0;
  flex-direction: column;
  height: 100vh;
  @include display(center, null);
  & > * {
    margin-block: 1em;
  }
  .nav-link {
    color: $nav-color;
    cursor: pointer;
    &.active,
    &:focus,
    &:hover {
      text-decoration: none;
      color: $property-color !important;
      background-color: unset;
    }
  }
}

.nav-text {
  transform: scale(0.7);
  margin-top: 0.3em;
  line-height: 0.3;
}
