@use "sass:color";

@use "./variables.scss" as *;
@use "./utils.scss" as *;

.contact {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  gap: 1.5rem;
  width: 100%;

  & > :is(form, div) {
    width: 100%;
    margin-inline: auto;
    max-width: min(80vmin, 30em);
    height: 100%;
  }
  & a:hover {
    color: $link-color;
  }
}

.contact-form {
  @include display(flex-start, null, column);
  label {
    color: $text-color;
  }
  :is(input, textarea) {
    border-radius: 1em;
    padding: 1em;
    background-color: $bg-color;
    border: 1px solid $text-color;
    color: $text-color;

    &::placeholder {
      color: color.adjust(#242424, $lightness: 50%);
    }

    &:not(:placeholder-shown):user-valid {
      border-color: $success;
    }

    &:not(:placeholder-shown):user-invalid {
      border-color: $danger;
    }

    &:focus:invalid {
      border-color: $warning;
    }
  }
}
