@use "./variables.scss" as *;

.main {
  overflow: hidden;
  color: $link-color;
  border-radius: 1.11em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  min-height: 60dvh;

  &-name-div {
    max-width: 50ch;
    text-align: start;
    font-family: serif;
    font-weight: 500;

    & h2 {
      font-family: serif;
      // font-size: clamp(1.2rem, 3dvh + 0.7rem, 1.2rem);
      font-weight: 500;
      line-height: 1;
      justify-content: center;
      margin-inline: auto;
    }
  }

  &-name-div h1 {
    color: $link-color;

    span {
      font-size: clamp(2rem, 4dvh + 1rem, 4rem);
      color: $text-color;
    }
  }
}

.max-content {
  min-width: max-content;
  max-width: max-content;
  font-size: clamp(1.3rem, 1.5dvmin + 1rem, 2rem);
}

.tx-color {
  // background: linear-gradient(177deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 100%);
  background-clip: text;
  color: $text-color;
  word-break: break-word;
}

.show-text {
  width: 13ch;
  animation: typing 2s steps(12, end);
  white-space: nowrap;
  overflow: hidden;
  color: $text-color;
}

@keyframes typing {
  from {
    width: 0;
  }
}

.contact-data {
  display: flex;
  justify-content: start;
  margin-top: 2em;
  gap: 0.5em;

  a,
  span {
    color: $link-color;
    border-radius: 50%;
    border: 1px solid $link-color;

    & i {
      padding: 0.5em;
      width: 2em;
      aspect-ratio: 1/1;
    }
  }
}
