@use "./variables.scss" as *;

.main {
  overflow: hidden;
  color: $link-color;
  border-radius: 1.11em;

  // min-height: 60dvh;

  &-name-div {
    text-align: start;
    font-family: serif;
    font-weight: 500;
    .test {
      display: grid;
      place-items: center;
      gap: 1em;
      grid-template-columns: 1fr;
      align-items: start;

      @media (min-width: 37.5rem) {
        grid-template-columns: 1fr 1fr;
      }
    }

    & h2 {
      font-family: serif;
      font-size: clamp(1.5rem, 2.5dvh + 0.5rem, 2rem);
      font-weight: 500;
      line-height: 1;
      justify-content: center;
      margin-inline: auto;
    }
  }

  &-name-div h1 {
    color: $link-color;
    font-size: clamp(2rem, 3dvh + 1rem, 4rem);
  }
}

.max-content {
  min-width: max-content;
  max-width: max-content;
  // font-size: clamp(1.3rem, 1.5dvmin + 1rem, 2rem);
}

.tx-color {
  background-clip: text;
  color: $text-color;
  word-break: break-word;
  font-size: clamp(1.2rem, 1dvh + 0.5rem, 1.2rem);
}
.logo-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  height: 5rem;
  width: 5rem;
  margin-right: 0.5rem;
  border-radius: 0.5em;
  box-shadow: 0px 0px 2px 3px $link-color;
}
.download-cv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0em 0.5em;
  font-size: 0.8rem;
  font-weight: 900;
  text-decoration: none;
}
// .show-text {
//   width: 13ch;
//   animation: typing 2s steps(12, end);
//   white-space: nowrap;
//   overflow: hidden;
//   color: $text-color;
// }

// @keyframes typing {
//   from {
//     width: 0;
//   }
// }

.contact-data {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: space-evenly;
  height: 100%;

  a,
  span {
    font-size: 1rem;
    color: $link-color;
    border-radius: 0.5em;
    border: 1px solid $link-color;

    & i {
      padding: 0.5em;
      width: 2em;
      aspect-ratio: 1/1;
    }
  }
}
