@use "./variables.scss" as *;

@media (min-width: 2200px) {
  html {
    font-size: 2vh;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 17px;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }
  header .navbar {
    width: 100vw;
    margin: 0 auto;
  }

  main {
    width: 85vw;
    margin: 0.5rem auto 0.5rem 3.5em;
    padding-inline: 2em;
  }
  .main {
    flex-direction: column;
    .main-name-div {
      margin-top: 1em;
      width: auto;
    }
  }
  .professional {
    gap: 2em;
    flex-direction: column;
  }
  .skills {
    & li {
      font-size: 0.9rem;
    }
    & span {
      width: 2.5em;
      height: 2em;
    }
    & .fa,
    & .fab {
      font-size: 1.5rem;
    }
  }
  .study {
    text-align: center;
  }

  .study h5:last-child {
    padding-bottom: 0.7rem;
  }

  .jobs {
    text-align: center;
  }

  .projects__btns {
    padding: 0.1rem;
    color: $text-color;
  }
  .projects__btn {
    padding: 0.1rem;
  }
  .fa,
  .fa a,
  .fa span {
    font-size: 0.9rem;
  }
}
