@use "./variables.scss" as *;

@media (min-width: 2200px) {
  html {
    font-size: 2vh;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 17px;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }

  .btn-name {
    font-size: 0.875rem;
  }
  main {
    width: auto;
    margin: 0.5rem auto 0.5rem 3.5em;
  }
  .main {
    .main-name-div {
      margin-top: 5em;
      min-width: 20ch;
      padding: 0;
    }
    .obj-info {
      margin-left: 0;
    }
  }
  .professional {
    gap: 2em;
  }
  .skills {
    & li {
      font-size: 0.875rem;
    }
    & span {
      max-width: 1.2em;
      min-width: 1.2em;
      max-height: 1.5em;
      min-height: 1.5em;
    }
    & .fa,
    & .fab {
      font-size: 0.875rem;
    }
  }
  .study {
    text-align: center;
  }

  .study h5:last-child {
    padding-bottom: 0.7rem;
  }

  .jobs {
    text-align: center;
  }

  .projects__btns {
    padding: 0.1rem;
    color: $text-color;
  }
  .projects__btn {
    padding: 0.1rem;
  }
  .fa,
  .fa a,
  .fa span {
    font-size: 0.9rem;
  }
}
