@use "./variables.scss" as *;

@media (min-width: 2200px) {
  html {
    font-size: 2vh;
  }
}

@media screen and (max-width: 1000px) {
  section {
    width: 95dvw;
    margin: 0 auto;
  }

  html {
    font-size: 14px;
    --bs-offcanvas-height: 6dvh;
    padding-bottom: calc(var(--bs-offcanvas-height) + 0.6em);
    max-width: 100dvw;
  }

  .btn-name {
    font-size: 0.875rem;
    max-width: max-content;
    padding-inline: 0.5em;
  }

  .offcanvas {
    background-image: linear-gradient(
      90deg,
      var(--bg-color-transparent) 0%,
      var(--nav-bg) 4%,
      var(--nav-bg) 96%,
      var(--bg-color-transparent) 100%
    );
    flex-direction: row;
    align-items: center;
    max-height: fit-content;
    gap: 0.5em;
    --bs-offcanvas-height: 6dvh;
    padding: 1em 1em 1em 0em;
    &.offcanvas-bottom {
      max-height: fit-content;
    }
    &-header {
      padding: 0.25em;
    }

    &-body {
      height: unset;
      width: 100%;
      gap: 0;

      & .nav-link {
        padding: 0.5em 0;
        &::after {
          box-shadow: 0px 0px 0px $link-color;
        }
      }
    }
    .bottom-navbar {
      flex-direction: row;
      min-height: 0;

      .nav-text {
        transform: scale(0.65);
      }
    }
  }

  .main {
    .main-name-div {
      margin-top: 5em;
      min-width: 95dvw;
      padding: 0;
    }
  }

  .professional {
    gap: 2em;
  }
  .skills-and-edu-container {
    flex-direction: column;
    .btns-skills-and-edu {
      flex-direction: row;
      min-width: min(20em, 80dvw);
      & > button {
        min-width: min(10em, 40dvw);
      }
    }
    & svg {
      width: 2.3em;
      height: 2.3em;
    }
  }

  .study {
    text-align: center;
  }

  .projects__btns {
    padding: 0.1rem;
    color: $text-color;
  }

  .projects__btn {
    padding: 0.1rem;
  }

  .fa,
  .fa a,
  .fa span {
    font-size: 0.9rem;
  }
}

@media (min-width: 37.5rem) {
  .terminal-code-editor-card {
    .terminal-code-editor-container {
      grid-template-columns: 1fr 1fr;
    }
  }
}
