@use "./variables.scss" as *;

@use "./utils.scss" as *;

.projects {
  padding-bottom: 0;
  padding-top: 3.75em;
  font-weight: 600;
}
.filter-btns {
  @include display(center, center);
  flex-wrap: wrap;
  gap: 1em;
  margin-block: 1.5em;
}
.projects__items {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(17em, 1fr));
  gap: 1.5rem;
}

.projects__item {
  max-width: min(80vmin, 17em);
  border-radius: 5%;
  box-shadow: 0px 0px 5px 3px $link-color;
  & img {
    padding: 0.5em;
  }
}

// .projects__item::after {
//   content: "";
//   position: absolute;
//   top: 100%;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   background: #0a0a0a;
//   transition: all 0.5s ease-in-out;
// }

// .projects__item:hover::after {
//   top: 0;
//   opacity: 0.9;
// }

// .projects__item:hover .projects__btn {
//   opacity: 1;
// }

.teh-title-container {
  margin-bottom: 0.3em;

  .teh-title {
    color: $property-color;
    border: 1px solid;
    background-color: $second-color;
    font-size: 1rem;
    padding: 0.2em 0.5em;
    margin-right: 0.3em;
    font-weight: 700;
    &.full-bg {
      color: $second-color;
      border: 1px solid $property-color;
      cursor: pointer;
      background-color: $property-color;
      transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
      &:hover {
        background-color: $second-color;
        color: $property-color;
      }
    }
  }
}
