@use "./variables.scss" as *;

.terminal-code-editor-card {
  border-radius: 1em;
  color: $text-color;

  .terminal-code-editor-container {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;

    @media (min-width: 37.5rem) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .card-header {
    margin-bottom: 1.25em;

    .card-title {
      margin: 0;
      font-size: 1.25rem;
      font-weight: 600;
      color: $text-color;
    }
  }

  .terminal-section,
  .code-editor-section {
    border-radius: 0.75em;
    padding: 1.5em;
    border: 0.0625em solid $bg-color;
    box-shadow: inset 0 0.125em 0.5em $bg-color;
    background-color: $primary-color;
  }

  .window-header {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding-bottom: 0.75em;
    border-bottom: 0.0625em solid $bg-color-accent;

    .window-buttons {
      display: flex;
      gap: 0.375em;

      .button {
        width: 0.75em;
        height: 0.75em;
        border-radius: 50%;

        &.red {
          background: $danger;
        }
        &.yellow {
          background: $warning;
        }
        &.green {
          background: $success;
        }
      }
    }

    .window-title {
      margin-left: 0.5em;
      font-size: 0.8125rem;
    }
  }

  .terminal-content {
    margin: 0;
    font-family: "Fira Code", "Courier New", monospace;
    font-size: 0.8125rem;
    line-height: 1.6;
    color: $text-color;
    white-space: pre-wrap;
    word-break: break-word;

    .terminal-line {
      margin-bottom: 0.125em;
    }

    .command {
      color: $link-color;
      font-weight: 600;
    }
    .success {
      color: $link-color;
    }
    .info {
      color: $text-color;
    }
    .output {
    }

    .cursor {
      display: inline-block;
      width: 0.5em;
      height: 1em;
      background: $link-color;
      margin-left: 0.125em;
      opacity: 0;
      transition: opacity 0.1s;

      &.visible {
        opacity: 1;
      }
    }
  }

  .code-content {
    margin: 0;
    font-family: "Fira Code", "Courier New", monospace;
    font-size: 0.8125rem;
    line-height: 1.6;
    white-space: pre-wrap;
    word-break: break-word;

    .code-line {
      display: flex;
    }

    .line-number {
      min-width: 1.875em;
      text-align: right;
      margin-right: 1em;
      user-select: none;
    }

    .code-text {
      .keyword {
        color: $text-color;
      }
      .string {
        color: $link-color;
      }
      .bracket,
      .component {
        color: $link-color;
      }
    }

    .code-cursor {
      display: inline-block;
      width: 0.125em;
      height: 1em;
      background: $link-color;
      opacity: 0;
      transition: opacity 0.1s;

      &.visible {
        opacity: 1;
      }
    }
  }

  .card-footer {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    font-size: 0.8125rem;
    flex-wrap: wrap;

    .tech-badge {
      white-space: nowrap;
    }
  }
}
