@use "./variables.scss" as *;

main {
  width: 78vw;
  margin: 1em auto;
  padding-inline: 1em;
}

.left {
  text-align: left;
}

.title-text {
  margin-top: min(20vmin, 15em);

  color: $text-color;
  text-align: center;

  & h2 {
    margin-bottom: 1em;
  }
}

.fancy-border {
  border-inline: 0.4em solid;
  border-block: 0.4em solid;
  border-image-source: linear-gradient(-45deg, var(--text-color), transparent 25%, transparent 75%, var(--text-color));
  border-image-slice: 1;
  padding: 0.5em;
}

@mixin display($align: null, $justify: null) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

.loading {
  min-height: 100vh;
  min-width: 100vw;
  color: $text-color;
  font-size: 2rem;
  background: $second-color;
  @include display(center, center);
}

.loading-modal {
  min-height: 10vh;
  min-width: 10vw;
  color: $text-color;
  font-size: 2rem;
  background: $second-color;
  @include display(center, center);
}

.modal-content {
  background-color: $text-color;
}

.carousel-indicators button {
  width: 0.8em !important;
  height: 0.8em !important;
  border-radius: 50%;
}

.carousel-indicators>button {
  background-color: $text-color !important;
  border: 3px solid #302f2f !important;

  &.active {
    border: 3px solid #302f2f !important;
    background-color: #414141 !important;
  }

  &:not(:first-child) {
    margin-left: 0.5rem;
  }
}

.tooltip {
  &.events-none {
    pointer-events: none;
  }

  &.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: $text-color;
  }

  &.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: $text-color;
  }

  &.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: $text-color;
  }

  &.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: $text-color;
  }

  .tooltip-inner {
    border-radius: calc(0.3em - 1px);
    color: $text-color;
    background-color: $bg-color;
    border: 1px solid $text-color;
  }
}