@import url("https://fonts.googleapis.com/css?family=Playfair+Display:500|Source+Sans+Pro:400,600&display=swap");
/*****************************************/

$primary-color: #ffffff;
$second-color: #fafafa;
$third-color: #ffffff;
$text-color: #242424;
$link-color: #3c455c;

/*****************************************/
/* reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 18px;
  scroll-behavior: smooth;
}

@media (max-width: 1024px) {
  html {
    font-size: 17px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 16px;
  }
  @media (min-width: 2200px) {
  }
  html {
    font-size: 2vh;
  }
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-sizing: none;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  background: $third-color;
  height: 100vh;
}
img {
  display: block;
  max-width: 100%;
  box-shadow: 0px 0px 5px $link-color;
}

a {
  color: $link-color;
}
h1 {
  font-size: 32px;
  line-height: 1.05;
}
h2 {
  font-family: "Playfair Display", serif;
  font-size: clamp(2rem, 4vh + 1rem, 4rem);
  line-height: 1.3;
  color: #242424;
  font-weight: 600;
}
h3 {
  font-family: "Playfair Display", serif;
  font-size: clamp(1.7rem, 3vh + 0.7rem, 3.7rem);
  line-height: 1.3;
  color: #2b2922;
  margin-bottom: 1rem;
}
h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 1rem;
}
h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
}
p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
}

.modal-60w {
  min-width: 65vw;
  max-width: 65vw;
}
.modal-dialog {
  margin: auto !important;
}

hr {
  width: 80%;
  margin-inline: auto;
  border: 0.1em solid rgba(255, 255, 255, 0.95);
}
/****** navbar ********/
.navbar {
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
}

.navbar li {
  color: $link-color;
  font-size: 1.11em;
  font-weight: 400;

  font-family: "Playfair Display", serif;
  transition: color 0.3s;
}

.navbar-toggler {
  border: 1px solid $link-color;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: $link-color;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  text-decoration: none;
  color: #b37c57 !important;
  background-color: unset;
}

/****** main section ******/

main {
  width: 70vw;
  margin: 1em auto;
  padding-block: 2em;
}
.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("../../public/img/bg.jpg") center;
  background-size: cover;
  text-align: center;
  align-items: center;
  padding-top: 40vh;
  overflow: hidden;
  color: $text-color;
  border-radius: 1.11em;
  &-name-div {
    position: absolute;
    left: -5em;
    top: 30vh;
    width: 100%;
    text-align: center;
    padding: 0.5em 1em;
    font-family: serif;
    font-weight: 500;
    font-style: bold;
    color: #ffffff;
  }

  &-name-div h1 {
    font-size: 7vh;
    font-family: "Source Sans Pro", sans-serif;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  }

  &-name-div h1 span {
    font-size: 7.1vh;
    font-family: "Playfair Display", serif;
  }

  &-name-div h1 .fas,
  &-name-div h1 .far {
    color: $link-color;
  }

  &-last {
    color: $link-color;
    font-weight: 900;
  }
}

/***** about me ******/

.about-me {
  text-align: center;
  font-family: serif;
}

.bio-desc {
  margin: 0 auto;
  text-align: left;
  margin-left: 10vw;
  padding-right: 10vw;
  color: $text-color;
  background: $second-color;
  border-radius: 1.11em;
}

.professional {
  color: $text-color;
  padding-block: 2em;
  align-items: left;
  text-align: left;
  background: $second-color;
  border-radius: 1.11em;
}
.skills li {
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
  font-weight: 600;
  color: $link-color;
}
.skills .fa,
.skills .fab {
  padding-left: 0.5em;
  text-align: center;
  color: $link-color;
  font-size: clamp(1.3rem, 2.3rem, 2.5rem);
}
.skills span {
  width: 2.1em;
  height: 1.5em;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: $second-color;
  background: $link-color;
  border: 0.1em solid $text-color;
  margin-left: 0.1em;
  margin-top: 0.4em;
}
.skills .no-color {
  background: transparent;
  color: $text-color;
}
.skills .max {
  border: 0.1em solid $text-color;
  color: $second-color;
  background: $text-color;
}

.left {
  text-align: left;
  margin-left: 10vw;
}

.study {
  color: $text-color;
  padding-block: 2em;
  margin: 0 auto;
  margin-top: 1em;
  text-align: center;
  background: $second-color;
  border-radius: 1.11em;
}

.study a {
  font-weight: 700;
  color: $link-color;
  font-family: serif;
}
.study h3 {
  font-weight: 500;
}
.study h5 {
  position: relative;
  font-weight: 600;
  padding: 0 3em;
}
.study h5::before {
  content: "";
  position: absolute;
  top: 5px;
  padding-left: 0.8em;
  margin-left: -1.25em;
  width: 1em;
  height: 1em;
  border-width: 0.5em;
  border-style: solid;
  border-left-color: $link-color;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.study h6 {
  position: relative;
  padding: 0 3em;
  &::before {
    content: "";
    position: absolute;
    top: 0em;
    padding-left: 0.8em;
    margin-left: -1.25em;
    width: 0.5em;
    height: 0.5rem;
    border-width: 0.35em;
    border-style: solid;
    border-left-color: $link-color;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
}
.images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2em;
  margin: 0 11em;
}
.image {
  width: 90%;
  margin-left: 3vw;
  transition: transform 0.25s linear;
  &:hover {
    transform: scale(1.05);
  }
}

.jobs {
  color: $text-color;
  padding-block: 2em;
  margin: 0 auto;
  margin-top: 1em;
  text-align: center;
  background: $second-color;
  border-radius: 1.11em;
}
.jobs h2 {
  color: #242424;
  font-weight: 600;
}
.jobs h4 {
  color: $text-color;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5em 0;
}
.jobs h5 {
  position: relative;
  font-weight: 600;
  margin-left: 3em;
}

.jobs h5::before {
  content: "";
  position: absolute;
  top: 0em;
  padding-left: 0.8em;
  margin-left: -1.25em;
  width: 1em;
  height: 1em;
  border-width: 0.5em;
  border-style: solid;
  border-left-color: $link-color;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
/****** projects *****/
.projects {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 2em;
  padding-top: 60px;
  margin-top: 1.5em;
  background: $second-color;
  border-radius: 1.11em;
}
.projects-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $text-color;
  font-weight: 600;
}
.projects__items {
  width: 40vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  padding: 0 0.5em;
}

.projects__item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5%;
  box-shadow: 0px 0px 5px $link-color;
}

.projects__item img {
  width: 100%;
  padding: 0.5em;
}

.projects__item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(154, 172, 184, 0.75);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.projects__item:hover::after {
  top: 0;
  opacity: 0.7;
}

.projects__item:hover .projects__btn {
  opacity: 1;
}

.projects__btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 0.5em 1em;
  color: $text-color;
}

.projects__btn {
  /* position: absolute; */
  color: #b37c57;
  opacity: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 40px;
  transition: all 0.5s ease-in-out;
}

.projects__btn:hover {
  color: #b37c57;
}
/***** contact****/
.contact {
  text-align: center;
  background: $second-color;
  color: $text-color;
  border-radius: 1.11em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.contact h2 {
  margin-inline: auto;
  text-align: center;
  color: #242424;
  font-weight: 600;
}
.contact-form {
  color: $text-color;
  padding: 0.01em 3em;
  text-align: start;
}
.contact-form a {
  color: $link-color;
}

.contact-info {
  color: $text-color;
  font-weight: 600;
  padding: 0.01em 0.5em;
}

.fa-facebook-square,
.fa-linkedin-square {
  font-size: 2em;
}
.fa-facebook-square:hover {
  color: #4267b2;
}
.fa-linkedin-square:hover {
  color: #0e76a8;
}
.main {
  background-position: 100% 42%;
}

.images {
  max-width: 70%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  margin: 2em 6em;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.projects__items {
  grid-template-columns: repeat(3, 1fr);
}
.contact__list {
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1024px) {
  header .navbar {
    width: 100vw;
  }
  .main-name {
    font-size: 4rem;
  }
  .images {
    max-width: 70%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin: 0 5em;
  }
  .study h6 {
    padding: 0 3em;
  }
  .study h5 {
    padding: 0 3em;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1.05rem;
  }
  h5 {
    font-size: 0.85rem;
  }
  h6 {
    font-size: 0.7rem;
  }
  p {
    font-size: 0.85rem;
  }
  header .navbar {
    width: 100vw;
    margin: 0 auto;
  }
  .main {
    height: 85vh;
  }
  main {
    width: 95vw;
    margin: 0.5rem auto;
  }
  .main-name-div {
    left: 0rem;
    top: 20vh;
    text-align: left;
    padding: 0.5rem 1rem;
  }
  .bio-desc {
    margin-left: 1vw;
    padding-right: 1vw;
    font-size: 0.85rem;
  }
  .images {
    max-width: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 0 0.2rem;
  }
  .left {
    margin-left: 1vw;
  }
  .study {
    text-align: center;
  }
  .study h5 {
    padding: 0 3rem;
  }
  .study h5:last-child {
    padding-bottom: 0.7rem;
  }
  .study h5::before {
    content: "";
    position: absolute;
    top: -0.2rem;
    bottom: 0;
  }
  .study h6 {
    padding: 0 2.5rem;
  }
  .study h6:last-child {
    padding-bottom: 0.7rem;
  }
  .study h6::before {
    top: -0.1rem;
    bottom: 0;
    padding-left: 0.6rem;
    margin-left: -0.8rem;
    width: 0.6rem;
    height: 0.6rem;
    border-width: 0.4rem;
  }
  .jobs {
    text-align: center;
  }
  .projects__items {
    width: 90vw;
  }
  .projects__btns {
    padding: 0.1rem;
    color: $text-color;
  }
  .projects__btn {
    padding: 0.1rem;
  }
  .fa,
  .fa a,
  .fa span {
    font-size: 0.9rem;
  }
}
